/* liuchang */
 .e-title-collapse .e-panel-header
{
  cursor:pointer;
}        
.mytitlebar
{
    background:url(images/panel_icon.png) no-repeat 0px 6px;
}
a,a:hover{
	text-decoration:none;
}
a:hover img{
	filter:alpha(Opacity=140);
	-moz-opacity:0.18;
	opacity: 0.48;
}
.topbar_icon{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 1px;
	margin-top:1px;
	backgroud-color: silver;
	font-size: 11px;
	font-weight:bolder;
	font-style:inherit;
	color: black;
	line-height: 16px;
}

.navurl
{
    background:url(images/trangle.png) no-repeat 4px 4px;
	font-size:13.5px;
    padding-left:20px;color:black;cursor:pointer;margin-top:5px;display:block;
}
.panel_header_font_pdm, .panel_header_font_mod{
	font-size:15px;
	color: white;
	font-weight: bolder;
	padding-left:2px;
}
.panel_header_font_pdm:hover{
	height:30;
	width:150;
	background: #c0624b;
}
.panel_header_font_mod:hover{
	height:30;
	width:150;
	background: #c0624b;
}
.panel_nav_font_pdm{
	font-size:15px;
	color: #dddddd;
	font-weight: bolder;
	padding-left:2px;
	background: #d6765d;
	height:30;
	width:260;
}
.panel_nav_font_mod{
	font-size:15px;
	color: #dddddd;
	font-weight: bolder;
	padding-left:2px;
	background: #d6765d;
	height:30;
	width:260;
}

.topbar_bg_mod{
	 background:url(images/topbar_mod.png)
}
.topbar_bg_mod_progress{
	 background:url(images/topbar_mod_process.png)
}